html,body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header-img {
    width: 200px;
}

#nav-bar {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    position: sticky;
    top: 20px;
    width:  50%;
}
.list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#hero {
    text-align: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
#submit {
    text-align: center;
    background-color: yellow;
    padding: 1rem 3rem 1rem;
    width: 30%;
    font-family: 'DynaPuff', cursive;
}
#email {
    padding: 0.5rem 3rem ;
    width: 30%;
    margin: 2rem 0;
    text-align: center;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'DynaPuff', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#form{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
#casual {
    width: 15%;
    padding: 3rem;
}
.grid {
    display: flex;
    align-items: center;
}
.text1 {
    width: 50%;
    padding: 2rem;
}
#clasica {
    width: 15%;
    padding: 3rem;
}
.img {
    width: 90%;
    padding: 4rem;
    clear: right;
    
}

.img2 {
    width: 30%;
}
#video {
    margin-left: auto;
    margin-right: auto;
    display: block
}
.img1 {
    width: 30%;
}

@media screen and (max-width:600px) {
    .img1 {
        width: 50%;
    }
}